<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BeerBl.Data.Properties.Settings.BEER_BIConnectionString"
            connectionString="Data Source=RPAUL1504;Initial Catalog=BEER_BI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>